<div *ngIf="dettail">

  <div class="container">

    <div class="PoTi">
      <img [src]="dettail.Poster">
      <h1 class="text"> {{dettail.Title}} </h1>
    </div>
    <div class="info">
      <h5> {{dettail.Year}} </h5>

      <h5> {{dettail.Released}} </h5>

      <h5> {{dettail.Runtime}} </h5>

      <h5> {{dettail.Genre}} </h5>

      <h5> {{dettail.Language}} </h5>

      <h5> {{dettail.Actors}} </h5>

      <h5> {{dettail.Director}} </h5>

      <h5> {{dettail.Plot}} </h5>

      <h5> {{dettail.Awards}} </h5>

      <h5> {{dettail.imdbRating}} </h5>


    </div>

  </div>

</div>