<div *ngIf="dettail">

  <div class="container">

    <div class="PoTi">
      <img [src]="dettail.Poster">
      <h1 class="text"> {{dettail.Title}} </h1>
    </div>
    <div class="info">

      <h5 class="boxInfo"><span class="specInfo">Anno: </span> {{dettail.Year}} </h5>

      <h5 class="boxInfo"><span class="specInfo">Rilascio: </span> {{dettail.Released}} </h5>

      <h5 class="boxInfo"><span class="specInfo">Durata: </span> {{dettail.Runtime}} </h5>

      <h5 class="boxInfo"><span class="specInfo">Genere: </span> {{dettail.Genre}} </h5>

      <h5 class="boxInfo"><span class="specInfo">Lingua: </span> {{dettail.Language}} </h5>

      <h5 class="boxInfo"><span class="specInfo">Attori: </span> {{dettail.Actors}} </h5>

      <h5 class="boxInfo"><span class="specInfo">Regista: </span> {{dettail.Director}} </h5>

      <h5 class="boxInfo"><span class="specInfo">Trama: </span> {{dettail.Plot}} </h5>

      <h5 class="boxInfo"><span class="specInfo">Premi: </span> {{dettail.Awards}} </h5>

      <h5 class="boxInfo"><span class="specInfo">Valutazione: </span> {{dettail.imdbRating}} </h5>


    </div>

  </div>

</div>