<div>
  <input type="text" name="" [(ngModel)]="searchQuery">
  <select name="" [(ngModel)]="selectedType">
    <option value="movie">Films</option>
    <option value="series">Serie</option>
  </select>
  <button (click)="cerca()">Cerca</button>
</div>


<div *ngIf="data" class="container">
  <div *ngFor="let movie of data.Search">
    <div class="box">
      <img [src]="movie.Poster" alt="">
      <div class="movieMiniDet">
        <h3>{{ movie.Title }}</h3>
        <h4>Anno di produzione: <br> {{movie.Year}} </h4>
      </div>
      <a class="dett" routerLink="/dettail/{{movie.imdbID }}"></a>
    </div>
  </div>

</div>