<div class="container">
  <input class="input-group-text w" type="text" name="" [(ngModel)]="searchQuery">
  <select class="w" name="" [(ngModel)]="selectedType">
    <option value="movie">Films</option>
    <option value="series">Serie</option>
  </select>
  <button class="btn btn-primary w" (click)="cerca()">Cerca</button>
</div>


<div *ngIf="data" class="containers">
  <div *ngFor="let movie of data.Search">
    <div class="box">
      <img [src]="movie.Poster" alt="">
      <div class="movieMiniDet">
        <h3>{{ movie.Title }}</h3>
        <h3>
          rating: {{ movie.imdbRating }}
        </h3>

      </div>
      <a class="dett" routerLink="/dettail/{{movie.imdbID }}"></a>
    </div>
  </div>

</div>